

.container {
  width: 100%;
  background-color: rgb(250, 245, 239);
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 20px;
  &_title{
    margin-left: 200px;
    font-size: 32px;
    color: rgb(9, 122, 122);}
  &_logo-container{
    margin-right: 50px;}
  
  &_logo-name{
    font-size: 22px;
    padding-top: 5px;
  }
}
.main {
  flex: 1 0 auto;
}
.main-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
}
.main-today {
  font-size: 26px;
  color: rgb(9, 122, 122);
}
.main-new-task-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
  cursor: pointer;
  p{
    font-size: 22px;
    padding-left: 10px;
  }
}

.main-progressbar{
  width: 100px;
  height: 100px;
}

.footer {
  flex: 0 0 auto;
  margin-bottom: 70px;
  
}

.main-svg{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 150px;
  right: 5%;
  fill: #1976d2;
  cursor: pointer;
  transition: all .3s ease;
  &:hover{
    fill: #1565c0;
    right: 4%;
  }
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-size: 24px;
  p{
    
    color: rgb(9, 122, 122);
    margin: 20px 0;
  }
}